[2020-08-21 07:12] germanschnyder opened #6 "Support avro spec v1.8.2"
#### Reason/Context
Lots of projects still use avro specification 1.8.2 for historical reasons and there are no major differences between 1.8.2 schema and 1.9.0 schema.

#### Description
We just need to add the right mimetypes and consider that in 1.8.2 there is no support for enum default and there is no uuid type.

[2020-08-21 08:02] derberg commented on #6
hi @germanschnyder, isn't this a duplicate of https://github.com/asyncapi/avro-schema-parser/issues/7 ?

[2020-08-21 08:09] germanschnyder commented on #6
It is, but after i created the first one i couldn't find anywhere so i thought i may have forgotten a "submit" button click...

[2020-08-21 08:16] #6 closed

[2020-09-19 14:39] derberg opened #7 "Move here the repository settings file"
**Context**

With this issue you create 2 pull requests.

`.github` repositories are a place for storing community health files for the whole organization, so you do not duplicate `CONTRIBUTION` guides and others. We choose it as a place for other general files too, like for example https://github.com/asyncapi/.github/blob/master/recognize-contributors.md.

**Description**

This is what needs to b

[2020-09-19 14:46] derberg opened #8 "Figure out how to modify twitter workflow to tweet only about major and minor releases"
**Context**

We agreed with community that we will automatically tweet about all releases from all AsyncAPI packages, but only if it is major or minor release, patches will not be communicated.

[This](https://github.com/asyncapi/html-template/blob/master/.github/workflows/release.yml#L50-L58) workflow so far sends info to Twitter every time there is any release

**Description**

- Figure out how

[2020-09-22 12:34] derberg opened #9 "Cleanup GitHub Actions workflows"
**Context**

1. We want to make sure we have healthy community and people respec each other in GitHub. We want to monitor all comments in every repository and analyze sentiments to identify negative ones and get proper notification. Idea is to use GitHub Actions for it, to check sentiments with Google Natural Language API and post negative comments to Slack for review.

2. We manage community file

[2020-10-01 14:59] HashTalmiz commented on #9
Hey @derberg, I'd like to work on this!

[2020-10-02 07:15] derberg commented on #9
@HashTalmiz just to make it clear for others, this issue is no yet addressed,
https://github.com/asyncapi/asyncapi/pull/449 is for a different issue

[2020-10-08 11:43] DanielChuDC commented on #9
Hi @derberg and @HashTalmiz I would like to submit a pr for this issue

[2020-10-08 12:09] derberg commented on #9
@DanielChuDC please pick it up. @HashTalmiz worked on it for `asyncapi/asyncapi` repo only

[2020-10-08 12:50] DanielChuDC commented on #9
@derberg Thank you for reply! I have pushed a pr. Not sure the `FUNDING.yml` in the root directory should delete?

[2020-10-08 13:33] derberg commented on #9
@DanielChuDC this one must stay. `.github` repo is global for the whole organization. If there is a repo that has no `FUNDING.yml` file in `.github` folder then GitHub will look for this file in `.github` repo

[2020-10-08 15:24] derberg commented on #9
@DanielChuDC have a look at your PR, there is one thing I had to comment on. The same thing is missing here https://github.com/asyncapi/parser-js/blob/master/.github/workflows/automerge.yml#L29 (I did not notice when you were working on it :( sorry)

[2020-10-08 15:46] DanielChuDC commented on #9
no worry man! thanks for maintaining this awesome project!

[2020-10-08 15:49] #9 closed

[2020-10-16 10:24] ab510 commented on #7
Hi, I'd like to try working on this.

[2020-10-16 11:12] derberg commented on #7
@ab510 sure, let me know if you need help

[2020-10-19 10:12] #7 closed

[2020-11-18 13:02] derberg opened #12 "Create custom github action that picks the change in workflow files and populates the change to all other repositories"
#### Reason/Context
- GitHub Actions do not support "global" GitHub Actions (yeap, true).
- We have many workflows that are exactly the same across all repositories. If there is a need to change something in one, we need to go to these 30-something repos and make a change, manually.....omg

#### Description

Create an action that populates changes automatically for us:
- `.github` repo is a global

[2020-11-19 15:22] lukasz-lab commented on #12
Initial idea visualized

![diagram](https://user-images.githubusercontent.com/15824750/99685970-6cd65400-2a83-11eb-8c4a-6363810c0000.png)

[2020-11-23 15:08] jonaslagoni opened #13 "Workflow does not need to run when PR is a draft"
#### Reason/Context
Same reasons as in https://github.com/asyncapi/parser-js/issues/200 we should disable `sentiment-analysis.yml` and `automerge.yml`. It does not make sense to run it whena PR is in draft mode.

#### Description
Add `if: github.event.pull_request.draft == false` check and ensure `ready_for_review` **on** type are added otherwise when a draft becomes ready to review it wont trigge

[2020-11-25 15:05] derberg commented on #13
I think for sentiment analysis we should monitor from start, as text can be negative before it is submitted for review

[2020-11-27 10:09] #12 closed

[2020-11-27 10:32] #13 closed

[2020-12-02 09:35] derberg opened #16 "Create GitHub Action that will handle automated bump of internal AsyncAPI dependencies"
#### Reason/Context
Internal AsyncAPI dependencies are for example a dependency that Generator has to Parser. So we want to automatically bump version of Parser in package.json for Generator, in Generator repo, once Parser is released.

To have best user experience we should not manually maintain dependency tree between repos and use action only in the repository that runs release

#### Descriptio

[2020-12-02 14:22] fmvilas commented on #16
Something that I liked from some actions is that they default the GH token to `GITHUB_TOKEN`. We could do something similar defaulting to `GH_TOKEN` (asyncapi-bot) and, if it's not found, try `GITHUB_TOKEN` (github-actions).

[2020-12-02 14:41] derberg commented on #16
@fmvilas unfortunately not something we can do here. This action pushes changes to other repositories and default `GITHUB_TOKEN` has right only to the repo it is running in. So in case of this action, or the global one I created recently, you need token of a user that has write permissions to a repo

[2020-12-02 15:00] fmvilas commented on #16
Then let's default to `GITHUB_TOKEN`, which is present everywhere. Is it possible? Or am I misunderstanding something?

[2020-12-02 15:06] derberg commented on #16
no, I probably explained it wrong.

This action will have to clone another, dependent repo, bump version in package.json and push the change to upstream, to separate branch, and then create PR. It will work like dependabot. This means it needs token different that the default one

I cannot default to `GITHUB_TOKEN` because it is always token that points to github-action bot. I could default to GH_

[2020-12-02 17:02] fmvilas commented on #16
Oh, I see! Thanks for explaining 👍

[2020-12-02 18:15] derberg commented on #16
Main logic is ready and works when I test it with my test organization https://github.com/derberg/org-projects-dependency-manager

now just need to put some effort in good amount of tests as this action can not only do good but also bad

[2020-12-03 09:50] derberg commented on #16
did some research on GH search as I could not understand why my search query finds only 3 repos while there should be 5. Luckily found answer -> forks are not indexed unless they have many starts aka they are pupular. Which makes sense, as we do not want to do automated bump in forks.

😌

so now just proper tests left

[2020-12-10 12:12] derberg commented on #16
ok, it looks like it worked like a charm in the parser. Have a look at
- https://github.com/asyncapi/parser-js/runs/1530107272?check_suite_focus=true
- https://github.com/asyncapi/parser-js/pull/208

I also created an issue to work later on the generation of dependency diagram as first we need to know what we want to generate and then we can define the structure of data that we need -> https://git

[2020-12-10 12:16] derberg commented on #16
Now I will work on adding bump workflow to all other repos that need it:
- generator
- generator-hooks
- generator-filters
- asyncapi-node
- converter
- raml schema parser
- avro schema parser
- openapi schema parser

lot's of work 😓 but it will pay off

[2020-12-10 15:39] derberg commented on #16
actually, it did not work exactly as expected, the bump started on GitHub Release creation, but the package was not yet on npm, this is why the bump of parser 1.2.0 happened and not 1.3.0. I'll check what timeouts need to be added to the workflow

[2020-12-11 14:49] derberg commented on #16
done repos:
- https://github.com/asyncapi/asyncapi-node/pull/27
- https://github.com/asyncapi/generator/pull/459
- https://github.com/asyncapi/raml-dt-schema-parser/pull/20
- https://github.com/asyncapi/openapi-schema-parser/pull/18
- https://github.com/asyncapi/avro-schema-parser/pull/24
- https://github.com/asyncapi/generator-filters/pull/17
- https://github.com/asyncapi/generator-hooks/pull/11

[2020-12-11 16:10] derberg commented on #16
@fmvilas @magicmatatjahu @jonaslagoni
My work is done here. My assumption is that in all new repos, or projects that are still on initial PR, the person responsible for the topic will add this new workflow like all others.

I also updated instruction here https://github.com/asyncapi/.github/pull/17

Is there anything missing?

[2020-12-11 16:22] jonaslagoni commented on #16
Just a question, how are major versions handled? Didnt see any information about that, or I missed it somewhere?

[2020-12-11 18:16] derberg commented on #16
@jonaslagoni there is no difference between minor, major, patch. It doesn't matter what package version is released, it matters how it is used by the dependency, is it prod dependency or dev dependency. And you can decide to have a different commit message for prod and for dev if you want (so fix and chore for us). So if parser 2.0 is released, then generator gets `fix` commit with bump of parser

[2020-12-14 11:04] derberg commented on #16
I consider this topic as closed, all PRs merged, action works like a charm

[2020-12-14 11:04] #16 closed

[2021-01-29 11:01] derberg opened #30 "Add test coverage check to all projects"
#### Reason/Context
As mentioned [here](https://github.com/asyncapi/asyncapi/issues/423#issuecomment-737745862) we should start test coverage monitoring.

#### Description
- setup test coverage, best with some SaaS that is free for open source
- add badges to repos (optional)
- make sure test coverage is a check on a PR level. It is a mandatory check. PR should be blocked from merging if tests cov

[2021-01-29 11:10] derberg opened #31 "Add global workflow responsible for merging PRs on given conditions"
#### Reason/Context
More context [here point 4](https://github.com/asyncapi/asyncapi/issues/423).

We should prepare GH org for a large scale of users with `read` and not `write` access. Why?
- cause only a very limited number of users should have write permission
- cause we need to add community members to the organization whenever they are active and help regularly so they can help in issues and

[2021-02-05 16:16] derberg opened #33 "Automerge workflow needs more retries and timeouts"
#### Reason/Context
since introducing testing on different platforms it takes now more time to get all CI check ready on PR that can from time to time cause auto-merge action to not merge because of not too many retries

#### Description
at least double current settings. I checked a few PRs at if automerge works it is usually 9/10 or 10/10 retry

[2021-02-05 16:22] derberg opened #34 "Bump workflow needs to be global too, even if used in few repos only"
#### Reason/Context
The action that is used there is not yet very well battle-tested and requires updates.
For example, now it doesn't work on our org if `ts-nats-template` is processed.
We should just bump https://github.com/derberg/org-projects-dependency-manager in only one global workflow and not in several workflows in different repos

#### Description
- create here `bump.yml` file (later it

[2021-02-10 08:38] #33 closed

[2021-03-09 17:56] smoya opened #38 "Adopt Core Infrastructure Initiative Best Practices"
#### Reason/Context

All projects from the AsyncAPI Initiative are licensed as [Open Source Software](https://opensource.org/faq#osd), in particular [Apache 2.0](https://www.apache.org/licenses/LICENSE-2.0) license is used by default for new projects.

In an effort to offer high-quality software, not just in terms of code but also in terms of security, transparency, and accessibility, in alignment

[2021-03-10 10:34] jonaslagoni opened #39 "CONTRIBUTING file should be repository neutral"
#### Describe the bug
Since the [CONTRIBUTING.md](https://github.com/asyncapi/.github/blob/master/CONTRIBUTING.md) file is starting to get referenced in multiple repositories it no longer makes sense that the guidelines are tuned towards the [main repository](github.com/asyncapi/asyncapi).

#### Expected behavior
Expected the guidelines to be repository neutral i.e. not include a link to https://g

[2021-03-10 10:40] jonaslagoni opened #40 "Synchronize general documentation"
#### Reason/Context
The files CODE_OF_CONDUCT.md, CONTRIBUTING.md, FUNDING.yml, SECURITY.md, and SUPPORT.md should IMO be synchronized to the organization's repositories to provide a coherent documentation experience.

#### Description

As @derberg suggested on Slack there are two solutions to this.
1. Synchronzie the documents
2. Repository "owners" create their own wrappers to files such as CONT

[2021-03-18 08:53] derberg opened #41 "Think about an action that periodicaly checks emotions on issues"
#### Reason/Context
I do not like, as a user, when I get into some project, I see there was some important issue for the community, but it is either closed or opened forever, but people do not write anything but only share their emojis, thumbs up and others.

The expectation is that maintainers will see that, and frustration arises.

But come one, how could maintainers even see every single issue

[2021-04-19 09:18] derberg opened #47 "Automate listing of members of technical steering committee"
#### Reason/Context

Our [open governance model](https://github.com/asyncapi/.github/blob/master/CHARTER.md) introduces a TSC that consists of all the CODEOWNERS that want to use their right to have a vote in TSC decisions making process.

We need a bot/github action that will read VOTERS files from all repos, maintain single list, and put it on the website

#### Description

- get a github action

[2021-04-19 09:21] derberg commented on #47
I'm having doubts if it makes sense to maintain voters file per repo. Repo user cared about codeowners as this is the group of people that are important gate keepers for giver repo. TSC is for a group of people taking care for entire organization, so I think that actually VOTERS files should be only located in the `website` or `community` repos.

Advantage:
- We do not need special action on PR an

[2021-04-19 15:52] smoya opened #49 "Automate Sonarcloud project creation"
### Reason/Context
Sonarcloud does not create automatically a project on their side whenever we create a GH repository. That means the process is manual and creating them (via https://sonarcloud.io/projects/create) requires ADMIN permission.

### Description
Sonarcloud Projects can be created through their UI or rather API as shown [here](https://sonarcloud.io/web_api/api/projects/create).
That op

[2021-05-10 11:04] derberg commented on #40
this is very much needed, people still expect CONTRIBUTING file as part of the repo as a file on the root. Habits 🤷🏼

[2021-05-25 11:17] derberg opened #54 "Create a slack bot that stores selected threads in Discussions"
- create a dedicated `support` repo where `issues` are disabled in favor of `discussions`
- slack bot should take every message that has this emoji -> ![](https://emojis.slackmojis.com/emojis/images/1616312163/22644/life-preserver.png?1616312163) called `preserve` and save in the above-mentioned repo as a discussion
- if the message has a thread, the thread should also be preserved in discussion a

[2021-05-27 20:39] jonaslagoni opened #55 "Cannot force new line endings for node project"
#### Describe the bug
Currently, the GitHub action checkout the source code (in Windows OS) to default to CRLF new line ending but Eslint is restricted to LF, and because of this the check fails (lint check).

A related issue for more information: https://github.com/actions/checkout/issues/135

We have a couple of options:
- Always force LF
[code]
- In the projects where we want to force line endi

[2021-05-28 06:21] derberg commented on #55
what is wrong with `"linebreak-style": 0`? We have it this way in many repos.

[2021-05-28 11:10] jonaslagoni commented on #55
I don't think there are any direct reasons other than to ensure consistency in the repo, especially if one changes the line ending and the other changes it back, we will have commits going back and forth which is unwanted.

[2021-05-28 11:43] derberg commented on #55
so the change will force `lf` in GitHub action, what will it change? that the CI will stop failing on windows if eslint rule for linebreak is on?

[2021-06-16 12:52] jonaslagoni commented on #30
We have been running Coveralls in [Modelina](https://github.com/asyncapi/modelina) for some time now where it:
- Share how the coverage is affected in PR's
- Block a PR if it falls below certain thresholds

We are using the following GitHub action workflow: https://github.com/asyncapi/modelina/blob/3ffe75f5799518b1b8ffbf7abb2c28bdaa6b7e23/.github/workflows/coverall.yml

Important note the event `p

[2021-06-28 14:09] jonaslagoni opened #58 "Github actions approve changes that have already been merged"
#### Describe the bug
If you scroll down to the end of https://github.com/asyncapi/fluffy-robot/pull/5 you see that the bot approves the already merged pull requests. Don't think that is intended 🤔

#### Expected behavior
Did not expect any re-approving of the PR.

[2021-06-29 12:01] jonaslagoni opened #59 "Alot of umerged PRs"
#### Describe the bug
At the moment with the CI system, it can occur that we are ended up with a lot of unmerged PRs as such:
![billede](https://user-images.githubusercontent.com/13396189/123793577-27fc8080-d8e2-11eb-9121-acad85183282.png)

#### How to Reproduce
I have no idea, it happens from time to time 😄

#### Expected behavior
I would expect the CI system to handle this semi-automatically or

[2021-06-30 15:31] jonaslagoni commented on #38
This just to raise awareness on some of the security issues.

After looking more into the security requirements they have, it is gonna be seriously hard to pull off. I used these guidelines to suggest the process here: https://github.com/asyncapi/community/issues/32#issuecomment-871500759

Just for the `Passing` level, we need to [fulfill the following](https://bestpractices.coreinfrastructure.org

[2021-07-08 16:41] smoya opened #60 "[go] golangci-lint version should be inferred from Makefile, latest otherwise"
#### Describe the bug
Both local `golangci-lint` binary and the one that runs on CI should be pointing to the same version, which are currently not.

CI script should look to the [Makefile](https://github.com/asyncapi/template-for-go-projects/blob/master/Makefile#L16) in order to see if there is a pinned version and use it, `latest` otherwise.

[2021-08-09 13:36] derberg commented on #58
This is super strange one, not sure if I can find the answer:

Workflow is pretty clear on who is the PR creator where autoapprove triggers -> https://github.com/asyncapi/fluffy-robot/blob/master/.github/workflows/automerge.yml#L29

This is workflow that approved PR -> https://github.com/asyncapi/fluffy-robot/pull/5/checks?check_run_id=2932575518 triggered on `pull_request_target` event. This was

[2021-08-09 14:38] jonaslagoni commented on #58
I think the theory is correct yea 🙂

In case we want to "solve" this one could add something like `if: !contains(github.event.pull_request.labels.*.name, 'released')` 😄

[2021-08-09 15:43] derberg commented on #59
@jonaslagoni for now no idea what is the reason, we need more logs. Please approve https://github.com/asyncapi/.github/pull/66

[2021-08-09 15:46] derberg commented on #58
@jonaslagoni no opinion here, we can add it, we can leave without it, you reported the bug, up to you 😄 not a problem for me in case you want me to add it

[2021-08-09 15:48] jonaslagoni commented on #58
I would opt for a more "stable" CI system that does not confuse users of it, so think we should add it @derberg. Let me know if I need to do anything 🙂

[2021-08-10 06:30] derberg commented on #58
very good point sir!

it is enough that you are there 😄

I'll update https://github.com/asyncapi/.github/pull/66. I know both are not related but we also know how much noise these updates cause in the system, so if it is possible to have just 50 PR instead of 100 I think it is good to have it in one PR 😅

[2021-08-10 12:07] #58 closed

[2021-08-12 09:54] derberg opened #68 "Automerge should auto merge master"
Quite often automerge fails because like [here](https://github.com/asyncapi/generator-filters/pull/50) PR was created, but in the meantime something else was merged and therefore PR was out of sync with master - thus blocked from merging.

https://github.com/asyncapi/.github/blob/master/.github/workflows/automerge.yml workflow needs a step that updates PR to latest master.

We need integrate somet

[2021-08-12 12:10] derberg commented on #59
@jonaslagoni figured out what was wrong, have a look at a pr

[2021-08-12 12:38] derberg commented on #60
did you have some specific idea in mind on how to do this? read file with grep or something `grep "GOLANGCILINT_VERSION =" Makefile  | cut -d'=' -f2` or rather add a target that echos the variable holding version?

Then of course we can echo it in the way that another step have access to that information

[2021-08-12 12:54] derberg commented on #55
@jonaslagoni what will happen in projects where eslint has `linebreak-style: 0` and we force

[code]

I guess nothing right? the improvement though is that overtime we can do `linebreak-style: [2, unix]` again, right?

and we are talking about all workflows that invoke `npm run test` ?

[2021-09-02 06:45] #59 closed

[2021-09-03 11:05] derberg commented on #47
VOTERS file structure:

[code]

in the `community` repo, we will have one file that lists all TSC members (TSC_MEMBERS.yml), with an additional field, the name of repos (`repos`) where the given TSC member is a maintainer.

[2021-09-08 07:05] derberg opened #70 "Workflow that updates every PR with clear info about conventional commits"
Even though we have https://github.com/asyncapi/.github/blob/master/.github/workflows/lint-pr-title.yml, it is not enough. We do validation - great. We put errors in logs - that is nice. Problem is:

- checking logs is not that obvious
- we do not inform clearly what is it all about

I noticed some people are confused. Not everyone reads CONTRIBUTING.md and this is a fact we need to accept 🤷🏼

Wou

[2021-09-08 07:14] magicmatatjahu commented on #70
As the title is not related to PR stats like coverage, sonarcloud etc. I would add that ideally the comment should only appear if there is an error in the title, and when someone corrects the title the comment should disappear.

[2021-09-08 11:20] derberg commented on #70
yeap, would be nice to display it only if the linting job fails, shouldn't be hard, but removing bot message? this would be tricky and from my point of view it is like `super nice to have but not critical`

[2021-09-13 09:44] derberg commented on #47
ok, for now we have a basic list that is for now updated manually -> https://github.com/asyncapi/community/blob/master/TSC_MEMBERS.json.

for voting, a temporary solution is to use [this](https://groups.google.com/u/1/g/asyncapi-tsc-members) mailing list. Until we get some fancy voting app in place, with deadlines, reminders, etc.

Whenever we update this list, we will also have bot updating it in

[2021-09-14 16:44] smoya commented on #47
Would Github Discussions work better than mailing list? You can vote in there and it's more reachable IMHO.

[2021-09-14 17:13] derberg commented on #47
- we wanted a more traditional approach where we are sure "1-more additional GitHub notification about discussion" is not lost among others. Thus email
- yeah, some may say Discussions is more readable but there are plenty of communities still liking traditional mailing group with some UI that shows all emails 🤷🏼

we could definitely include Discussions when we work on voting app. Like a wrapper a

[2021-09-21 19:28] alequetzalli opened #72 "docs: create README for AsyncAPI org profile"
#### Description
Let's create a README for the AsyncAPI organization profile, now that [GH rolled out that new feature](https://github.blog/changelog/2021-09-14-readmes-for-organization-profiles/). It must be visually appealing and we should agree on what is the best to have there. (@derberg thinks one of main things to put there would be all the communication channels.)

[2021-09-22 06:46] derberg commented on #72
yay!

I think that we should expose the communication channels we have listed here -> https://github.com/asyncapi/community/issues/1

in general though, it must be an intro, but imho not necessarily intro to AsyncAPI (as a spec) but intro to AsyncAPI Initiative, our goals, purpose, communication, and important links to blog, roadmap.

and I love these to be nice looking, not just text, but if we l

[2021-09-22 08:18] derberg opened #73 "Remove `welcome` workflow and replace with something custom"
This workflow https://github.com/asyncapi/.github/blob/master/.github/workflows/welcome-first-time-contrib.yml and the `first-interaction` action that we use it causes headache for the 2nd time

It is failing again on all the workflows, blocking merges and it is closing some serious overload on the GitHub API and therefore rate limit alerts. Not cool at all!

We should remove it (I do not want us

[2021-09-22 14:11] KhudaDad414 commented on #73
Did some digging In Github Graphql API and it seems that issues search can be greatly optimized using `filterBy` of `IssueConnection`.
But sadly `PullRequestConnection` does not have a `filterBy` argument so I don't know if using the Graphql API will help or not since we have to filter all pull requests using Graphql API as well.

[2021-09-24 02:49] KhudaDad414 commented on #73
We can't use that. By default, that field is `NONE`. It doesn't change by opening a pull request or reporting an issue. (strange 🤔)
[Tested Here](https://github.com/KhudaDad414/first-interaction)

[2021-09-24 21:14] alequetzalli commented on #72
PR is underway! 😄

https://github.com/asyncapi/.github/pull/76

[2021-09-27 12:00] derberg commented on #39
Still valid 😓

[2021-09-27 12:00] derberg commented on #40
I think it is going to happen pretty soon 😄 stay tuned

[2021-09-28 12:31] derberg opened #78 "Make sure bot does not automerge PRs that are not created by another bot"
Here bot accepted and automerge was triggered https://github.com/asyncapi/spec-json-schemas/pull/104

job log https://github.com/asyncapi/spec-json-schemas/runs/3732367755

[2021-09-28 12:40] derberg opened #79 "When releasing JSON Schema we should not automatically release Parser.js"
We normally want to have it automated but when we do AsyncAPI Specification release then Parser should be released manually with latest JSON Schema and not automatically bumped by the bump workflow

we need some generic solution for [this](https://github.com/asyncapi/.github/blob/master/.github/workflows/bump.yml) workflow that would not run automated bump because of some specific info. Maybe we c

[2021-09-28 13:46] derberg opened #80 "workflows that require `npm install` are long running and sometimes blocking"
We test all npm packages on macos, windows and linux. Macos is the slowest and sometimes `npm install` fails. Sometimes you don't really want to wait 15min for a PR test to complete.

Hint:

There are some solutions out there that can be plugged into the workflow to cache npm modules or just reuse some other cache.

[2021-09-29 20:05] #72 closed

[2021-09-29 20:09] alequetzalli commented on #72
Changes are live!!
https://github.com/asyncapi

[2021-09-30 11:32] jonaslagoni commented on #38
I think I am gonna try take a swing at this issue, if it is decided we want to invest time in this.

@derberg how do I propose this for TSC?

[2021-09-30 11:51] derberg commented on #73
@KhudaDad414

I just tried this:
[code]

and got this on the list
[code]

[2021-09-30 13:49] derberg commented on #38
I believe it must be done the same way as with code coverage. First, do it for one repo and check out how it went, what was missing, etc. Then we introduce to TSC so all codeowners follow it in their repos, voting style

[2021-09-30 18:09] abxhr commented on #68
I would love to work on this! 🚀

[2021-09-30 18:32] derberg commented on #68
Please go ahead and lemme know if ya need help

[2021-10-01 03:12] iamVP7 opened #82 "improve spec details version in README.md"
Recently [README.md](https://github.com/asyncapi/.github/blob/master/profile/README.md) is published. In this for Spec details; spec latest version is hardcoded.

#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
We have to keep track of this file and change spec version each time of release. We will change things at one website router file if one chan

[2021-10-01 05:21] HollowMan6 commented on #80
Hi! Since Setup Node.js workflow v2.4.1 support caching packages dependencies by itself: https://github.com/actions/setup-node/blob/v2.4.1/docs/advanced-usage.md#caching-packages-dependencies , I've just submitted a PR which takes this benefits. Hope this helps.

[2021-10-01 06:41] KhudaDad414 commented on #73
@derberg
can you take a look at [this repo](https://github.com/KhudaDad414/first-interaction)?
I have figured out how to do that with the first issue but for some reason, `authorAssociation` is always `NONE` for the account that I am using for testing.

[2021-10-01 15:07] jonaslagoni commented on #38
Started going through it for Modelina, to achieve Passing level - https://bestpractices.coreinfrastructure.org/en/projects/5279

The following steps are still missing:

- [ ] The information on how to contribute SHOULD include the requirements for acceptable contributions (e.g., a reference to any required coding standard). (URL required) [contribution_requirements]
- [ ] The release notes MUST id

[2021-10-01 18:20] alequetzalli commented on #82
You're amazing! Thank you so much for your contribution. ✨

[2021-10-04 11:11] #82 closed

[2021-10-04 11:13] derberg commented on #31
We still need it!

[2021-10-04 11:25] #80 closed

[2021-10-05 08:14] derberg commented on #55
We should make sure workflow files from `if-nodejs-pr-testing.yml` and `if-nodejs-release.yml` have the following step before the step that checks out the repository:

[code]

**Why we now change is good?**

We tested it in `chatbot` repo. Where linter on Windows gets crazy about new lines even with `linebreak-style: 0` in eslint config. With this additional steps all was working fine and when we

[2021-10-05 08:29] derberg commented on #73
Damn, when you read docs carefully, looks like it is `commit` related interaction, and because we all work through forks, commit is outside the repo, thus NONE (at least I think so)

<img width="474" alt="Screenshot 2021-10-05 at 10 21 41" src="https://user-images.githubusercontent.com/6995927/135986904-91d2cb6b-eae6-4174-b40f-a1981a1678a0.png">

I see it worked for an issue, but because you count

[2021-10-06 11:48] derberg commented on #40
@Relequestual

1 - yup, we do it with the workflow files already. Just that instead of markdown comment it should be HTML comment that is visible only in a source file IMHO
2 - yup, this is how will it work, you basically provide a list of files
3 - yes yes yes, or no 😄 I was thinking about it, like a "topic" that you set on a repo to say `you shall not pass`, but on the other things, I was thinki

[2021-10-06 19:06] jonaslagoni commented on #55
Nope, sounds good 👍

[2021-10-12 13:39] #73 closed

[2021-10-19 17:45] Luitame opened #90 "docs: the code of conduct link is broken"
Clicking over the code of conduct link redirects you to a broken URL (see below :point_down:)
![Screenshot_20211019_143302](https://user-images.githubusercontent.com/5892371/137962139-a0268811-5a21-4320-a043-10b6fc569c02.png)

#### How to Reproduce
Go to the [AsyncAPI Initiative profile (here)](https://github.com/asyncapi) and click over the code of conduct link
![image](https://user-images.github

[2021-10-20 22:01] panwauu opened #92 "Readme links check"
I found some broken links in .md files and googled if there are tools to report broken tools and found this [github action](https://github.com/gaurav-nelson/github-action-markdown-link-check) and this other [github action](https://github.com/ocular-d/md-linkcheck-action).
It would be nice to have this in all of the repos

[2021-10-27 09:20] KhudaDad414 opened #96 "Automate labelling Good First Issues"
#### Reason/Context
As the [Dashboard](https://github.com/asyncapi/website/issues/385) on the website is being completed, we need a way to automate labelling the `good first issue`s.

#### Why
By automating the good first issue we achieve two things.
1) It will let us enforce this rule: every `good first issue` should have `complexity` and `area` labels as well.
2) It will make labelling `good fir

[2021-11-02 08:26] derberg opened #98 "Switch from `master` to `main` branch in all AsyncAPI repos"
Related to https://github.com/asyncapi/community/discussions/140
We first identify what is needed to do. Then we will ask TSC if we should proceed

Things to do:
- [ ] Organization settings for `Repository defaults` change to `main`
    <img width="1868" alt="Screenshot 2021-11-02 at 09 10 29" src="https://user-images.githubusercontent.com/6995927/139809329-63c19d08-df5f-44d5-8535-89c4fe494d33.png

[2021-11-02 09:28] jonaslagoni commented on #98
Some repositories will have their own set of workflows as well, so we need to make sure that custom workflows are checked. At least I know Modelina have, not sure about others 🙂

[2021-11-02 19:28] smoya commented on #98
Those are all workflows from repositories that are not in the `.github` repository:

[code]

[2021-11-02 20:00] jonaslagoni commented on #98
@smoya not sure how you generated it, but I cannot find `automerge-release-pr-bump` anywhere 🤔 i.e. https://github.com/asyncapi/html-template/tree/master/.github/workflows/automerge-release-pr-bump.yml is not a thing and nowhere to be found https://github.com/asyncapi/html-template/tree/master/.github/workflows. I assume the same for any of the repositories.

Also, it is missing Modelina, so not s

[2021-11-02 21:17] smoya commented on #98
It seems there is a bug on Github API :O https://api.github.com/repos/asyncapi/html-template/actions/workflows ?? It uses the name of the workflow as file name, when it is not right 😆 Will check tomorrow.

[2021-11-03 10:20] smoya commented on #98
Here is the list of repositories that contain workflow files not included in `.github` org repository: https://gist.github.com/smoya/4617304ec510c6f13e2bb9978b0ec824#file-result-md

[2021-11-03 10:24] jonaslagoni commented on #98
That's more accurate 😄 I guess you can add that to the list of things todo @derberg

[2021-11-03 10:59] derberg commented on #98
it is not much accurate, it is actually scary only 😛

there are all workflows, even those that do not react on event-related to commit to `master` - example https://github.com/asyncapi/temp-repo-test-for-website/blob/master/.github/workflows/issue-pull-request-upvote.yaml

[2021-11-03 13:40] derberg opened #99 "autoupdate is not working as planned 😅"
Action `pullreminders/label-when-approved-action@v1.0.7` work only with event `pull_request_review` but when `hmarr/auto-approve-action@v2` performs approval, the review event is not triggered because in general this is how GH Workflows work, the operations that are performed by them do not trigger events.

So we will never label the PR and therefore we will never autoupdate as we planned here htt

[2021-11-22 12:52] KhudaDad414 commented on #99
first of all, shouldn't        `if: github.actor == ('asyncapi-bot' || githu...` be `if: (github.actor == 'asyncapi-bot' || githu...`? I see it [here](https://github.com/asyncapi/.github/blob/master/.github/workflows/automerge.yml#L29) as well.

[2021-11-22 13:17] derberg commented on #99
yup, this is broken `if`, good catch. Autoapprove works fine as because of broken statement that you spotted, it updated one of the PRs from Avro created by human in upstream

[2021-11-23 10:58] #99 closed

[2021-11-24 07:26] KhudaDad414 commented on #78
@derberg is this bug still valid?

[2021-11-24 07:52] KhudaDad414 commented on #54
@derberg  this seems interesting. can I work on this?

[2021-11-24 08:39] derberg commented on #78
recreating will be difficult, you simply need to understand the flow:

- autoapprove approves anything that comes from specific actor
- automerge merges anything that comes from specific actor

what happened there:

- during work on release, the release branch was updated by bot with a package json bump, but the release branch was not yet supposed to be merged

my assumption is that the problem is

[2021-11-24 08:49] derberg commented on #54
@KhudaDad414 ❤️ I would only add that since Slack has https://github.com/slackapi/slack-api-specs/blob/master/events-api/slack_events_api_async_v1.json (we could convert to 2.2 easily) and it is all about reacting to events, would be cool to try using Glee to write the bot. So describe your bot with AsyncAPI file, to what events and where it subscribes and kick-off project with Glee. Thoughts?

[2021-11-24 11:22] KhudaDad414 opened #102 "Automate the process of voting for TSC members."
### Reason/Context
Now that we have a list of TSC members, I think it's time to create a voting process for TSC members.
### Description
We can have a new type of issue called `poll` on the `community` repo.
#### How could it be implemented/designed?
1) having the bot do the following jobs:
      * When a poll issue is created it should notify the TSC members by email or mentioning them on the iss

[2021-11-24 19:52] fmvilas commented on #102
I'm all in for automation 😄 The only thing that I don't see viable or cool is putting it on the website for TSC members only. Explore the web because there may be some bots already out there 🤔

Also, another suggestion from my side is making these polls/decisions visible on the website. That would be cool.

[2021-11-25 09:11] derberg commented on #102
once I merge https://github.com/asyncapi/.github/pull/94 (next week) I will turn upside down all access rights in GH Org and invite all tsc members to be part of AsyncAPI GitHub org and they will have a dedicated group. So we should just have a workflow that once given issue with the specific label is created, the group is automatically assigned

TSC votes are public and should be exposed to anyon

[2021-11-29 06:16] KhudaDad414 opened #104 "Automate documenting workflows"
#### Reason/Context
Since we are using workflows in our repos a lot and the number of workflows is growing day by day, It is becoming harder to keep track of what workflows are doing and having a big picture of the automation that we do for each repo. for example, what will happen if I open a new issue?

#### Description
We need a way to document the workflows that we use. I have collected this [i

[2021-11-29 06:31] KhudaDad414 commented on #102
I am not exactly sure I understand the process with PRs. What should I do If I want to create a poll? how can I vote? are we storing the polls in a file or it will be on the PR description. @derberg What is the process that you have in mind for voting in PRs?

[2021-11-29 08:46] derberg commented on #102
we would exactly store it in a file, in a repo, in a directory called for example `tsc_votes`. You create a file with the description, maybe pictures, maybe diagrams, whatever, but basically a markdown file with all the details.

vote is either approve or reject the PR.

disadvantage of course is that it ain't that easy to create a PR comparing to Issue creation, but is this really a problem 😄

[2021-12-01 02:02] alequetzalli commented on #102
I have been thinking about this and the convo thread so far, but I still feel unsure which option I "subscribe" to. 🤔 😬

I like the idea of opening a Discussion and Poll, because I think that drives more engagement. But I also like how "simple" counting votes via a PR process can be.

Is there a way to combine both elements? 😀

[2021-12-01 12:21] derberg commented on #102
but `poll` mentioned by @KhudaDad414 is "just" a name, right Khuda? Not that there would be an actual poll. It would just be a special issue because of its template and labels. We can also call PR a `poll` if you want 😄

Using issues is really a big problem, especially when we will have a controversial topic to vote on that trigger discussion. Try to follow this issue https://github.com/asyncapi/s

[2021-12-01 12:32] derberg commented on #104
Yes! that would help. I personally do not need detailed info about steps. For me most important is to have:
- list of workflows with filename -> Name -> Description (we need to figure out something, as there is no such field in GH Action workflow file)
- the table that you already create, so lovely overview of all the events to which our workflow reacts to

and then yes, we do not even need a new

[2021-12-01 12:40] jonaslagoni commented on #102
I think we need to split it up.

I suggest whenever something needs to be decided we create both a discussion and a PR.

PR is for voting **ONLY**, no discussion can take place here. You either reject or accept it. The PR needs to clearly link to where the discussion can take place.

Discussion is for asking questions and general discussion to come to an agreement. After PR is merged the discussio

[2021-12-01 14:01] derberg commented on #102
any reason why you think Discussions are better than PRs? I'm not yet fully decided on my own

[2021-12-06 06:27] KhudaDad414 commented on #104
@derberg
this is the structure that the action that I am working on generates. would love to have some feedback. :)
### When Pull Request Target:
| opened | ready_for_review, reopened | synchronize, edited | labeled, unlocked, unlabeled |
| --- | --- | --- | --- |
| <ul><li>[Automerge release bump PR](#automerge-release-bump-pr)</li><li>[Notify slack](#notify-slack)</li><li>[Lint PR title](#lint-p

[2021-12-07 13:58] KhudaDad414 commented on #104
just published [workflows-to-markdown](https://github.com/KhudaDad414/workflows-to-markdown) to help generate the markdown file easily (by adding `workflows2md` to `generate:assets` script).
we just have to decide which info is going to be included in the file and how exactly.

[2021-12-07 14:04] derberg commented on #104
yeah, I think there is no other option.

they have a different scope of working, good to have it separated

regarding the layout of the information, I have to be honest and say I liked one table as you showed it in initial example. So first column event names, first-row event types. I think the list of workflows with their descriptions could also be a table. Now it is a bit overwhelming to digest

[2021-12-07 15:00] #31 closed

[2021-12-07 15:08] derberg commented on #104
no worries, happy to help, it is a cool tool

hmmm I don't see any updates

CLI is enough, I see you have it there already. We do not need dedicated GH action for our use case, as it will be just another `npm script` that will have to be invoked in `generate:assets` script as we do it [here for example](https://github.com/asyncapi/parser-js/blob/master/package.json#L25). But for your library would

[2021-12-07 15:36] derberg commented on #104
cool, see a table now:
- Regarding "When Pull Request Target" as it is technical, can't it be `pull_request_target`, I mean code, without "When". Same about event "types", could be with markdown "code"

[2021-12-12 13:07] derberg commented on #60
@smoya is this one still valid?

[2021-12-13 10:45] derberg opened #109 "Should we ignore old spec versions with robot.txt ?"
#### Reason/Context

This is a Google Search Console summary for November:

![Screenshot 2021-12-13 at 11 34 17](https://user-images.githubusercontent.com/6995927/145796887-259f80fa-0fd8-4843-915e-cb5700987f9c.png)

So https://www.asyncapi.com/docs/specifications/v2.0.0 is top-performing which is not the best, it should be either https://www.asyncapi.com/docs/specifications/latest or https://www.a

[2021-12-13 11:33] KhudaDad414 opened #110 "Deleting a command like `/help` causes it to run again"
commands should trigger a workflow only if the comment is `created` or maybe `edited`? not if it is `deleted`.
this issue becomes problematic especially if someone deletes the `asyncapi-bot` response for `/help`. It causes all of the commands mentioned in the `/help` response to run simultaneously.

[2021-12-13 11:55] derberg commented on #110
@KhudaDad414 yeah, makes a lot of sense to only react on `created` IMHO, the same with `rtm` and `dnm` comments

[2021-12-16 12:35] KhudaDad414 commented on #104
I am currently working on an action that non-`node` projects can add to their workflows.

[2021-12-16 12:38] derberg commented on #104
you mean dedicated action, or a workflow that just calls CLI? like we do it with semantic release in not-node projects? so you just setup node env in one step and then just run `npx YOUR_CLI`.

although dedicated action is nice as it will expose your library to wider audience I think

[2021-12-16 13:11] #110 closed

[2021-12-16 18:42] fmvilas opened #112 "Add `/review` to automatically add codeowners as reviewers"
#### Reason/Context
With the recent introduction of the CODEOWNERS files, I often have to go and check who are the owners of a repo and then add them to review my PR. It would be awesome to have a slash command that does this for you.

#### Description
Add a new slash command: `/review`. This command will trigger a Github action that will read the CODEOWNERS file (if present) and add the listed us

[2021-12-17 09:36] derberg commented on #112
This is super weird. I can bet some money that in the past this is how CODEOWNERS worked. That GitHub did an automated assignment, checking the scope of the code ownership.

This is why in @KhudaDad414 issue about TSC voting I said that better to do voting on PR as we could get TSC members automatically assigned 🤔

https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-feat

[2021-12-17 11:21] fmvilas commented on #112
Oh, I had no idea. I don't think I've ever seen it working like this for me.

[2021-12-19 22:56] akulpillai opened #113 "[Security] Workflow stale-issues-prs.yml is using vulnerable action actions/stale"
The workflow stale-issues-prs.yml is referencing action actions/stale using references v1.1.0. However this reference is missing the commit [af4072615903a8b031f986d25b1ae3bf45ec44d4](https://github.com/actions/stale/commits/af4072615903a8b031f986d25b1ae3bf45ec44d4) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE

[2021-12-20 10:25] derberg commented on #112
I created this https://github.community/t/auto-assignment-with-codeowners-doesnt-work/218560

Let's give them a week or two to answer and then we are sure if we want to work on such workflow. There are some actions in the marketplace that we could use so not much work should be needed

[2021-12-20 14:47] fmvilas commented on #112
Thanks for creating the issue on their side 👍

[2021-12-22 07:13] derberg commented on #49
still needed, just no time to do it

[2021-12-28 09:55] KhudaDad414 commented on #104
In the past few days, I have been testing the action with all of the workflows across the organization. https://github.com/marketplace/actions/generate-workflows-map.
I think it is ready.

[2022-01-03 11:12] derberg commented on #104
what is the final output format? btw you do not show any example, not in a CLI nor in the action. I think it is good to show it as a screen shot or just as part of markdown

[2022-01-03 17:08] mcturco opened #115 "PR owner can't see "branch out of date with master" notice after `/rtm`"
#### Describe the bug
When adding `/rtm` on my approved PR, the expected behavior is for GH bot to automatically rebase the branch with the master version. Either way, even though the PR branch was out of date, the PR owner should be able to see a notice of that even when they aren't a codeowner.

Here's the only notice that I saw:
![Screen Shot 2022-01-03 at 11 34 23 AM](https://user-images.githu

[2022-01-03 17:15] derberg commented on #115
more context on why not being up to date with master blocks merge, we have such setting everywhere 👇🏼

![Screenshot 2022-01-03 at 18 10 57](https://user-images.githubusercontent.com/6995927/147959188-8a9057fc-eb54-40e2-93a2-a618c3a8b9a0.png)

This is a best practice. One way to skip this setting and resolve this problem the other way around is that our testing pipelines should be designed in the w

[2022-01-03 17:16] derberg commented on #115
This is what people with write access to the repo see

![Screenshot 2022-01-03 at 17 13 37](https://user-images.githubusercontent.com/6995927/147959692-59f4df6b-b6cb-4598-9679-77768a4d8ad9.png)

[2022-01-05 14:49] jonaslagoni opened #116 "Bumping versions often stalls release pipeline"
#### Describe the bug
When the node.js release pipeline bumps the package version often times GH stalls the CI runs, meaning the release pipeline is completely stuck.  See https://github.com/asyncapi/modelina/pull/561

Because of the changes introduced in the version bump `chore(release): ...` we dont need to run all the workflows and in theory skip them.

[2022-01-07 04:32] KhudaDad414 commented on #104
usage and examples added for both repos.
https://github.com/KhudaDad414/workflows-to-markdown
https://github.com/KhudaDad414/workflows2md-action

[2022-01-07 17:13] jonaslagoni opened #119 "Auto-merge workflow allows unreviewed code to be published"
#### Describe the bug
Because the workflow does not care about what changes and who did the change, any maintainer can avoid the 1 people review process, by pushing code to the auto-update PRs.

#### How to Reproduce
Proof: https://github.com/asyncapi/ts-nats-template/pull/413

#### Expected behavior
The expected behavior would be that the bot does not approve PR's where collaborators have pushed

[2022-01-07 18:37] KhudaDad414 commented on #119
AFAIK bots push their changes in one commit. Does merging only if there is only one commit in the PR solves the issues? I went through the GitHub API and it seems like the easiest solution.

[2022-01-09 20:06] derberg commented on #119
@KhudaDad414 sometimes there might be an update done, merge of master -> https://github.com/asyncapi/.github/blob/master/.github/workflows/autoupdate.yml so there can be 2 commits. So I think the only option is to really check the `author` of the pull request update, and if it is not a bot, then we should revoke GH Action bot approval

[2022-01-10 05:25] KhudaDad414 commented on #119
@derberg What about checking the authors of commits before merging?
With checking the `author` of the pull request update, how can we guarantee that the merging doesn't happen BEFORE the `pull request update` revokes the approval?

[2022-01-10 12:10] derberg commented on #119
🤔

so what we know is that because of this setting:
![Screenshot 2022-01-10 at 13 05 53](https://user-images.githubusercontent.com/6995927/148763436-8d578e4f-d4b9-46f2-b7f8-b10194a14df7.png)

Changes introduced by @jonaslagoni caused dismiss of approval
![Screenshot 2022-01-10 at 13 05 28](https://user-images.githubusercontent.com/6995927/148763375-c4e3e625-5fbd-4d3f-9ef0-cb6ccd8619d2.png)

But PR

[2022-01-10 13:01] #96 closed, assigned to KhudaDad414

[2022-01-10 17:18] dschwank opened #120 "Incomplete schema type definition"
#### Describe the bug
The type definition of the [`Schema`](https://github.com/asyncapi/parser-js/blob/master/types.d.ts#L840) class is incomplete, the [constructor](https://github.com/asyncapi/parser-js/blob/master/lib/models/schema.js#L24) is not covered.

#### How to Reproduce
- Check [`schema`](https://github.com/asyncapi/parser-js/blob/master/lib/models/schema.js#L24) implementation
- Check g

[2022-01-10 17:26] #120 closed

[2022-01-10 17:26] dschwank commented on #120
Wrong repo 🤦

[2022-01-11 06:54] KhudaDad414 commented on #54
@derberg  this bot is nearly ready. before adding it to the slack workspace we need to discuss a few things.

### How it should work?
Since the data that is being collected needs to be organized and meaningful to be useful in the future, IMO we should have a clear `question`, `answer` format. How?
 1) someone asks a question.
 2) a maintainer asks follow-up questions in the thread. (optional)
 3)

[2022-01-11 10:22] derberg commented on #116
damn, forgot about one thing, `skip ci` skips testing, but it is required on repo level...so these checks will be blocking merge 🤦🏼

[2022-01-11 14:48] derberg commented on #116
some info here https://github.community/t/github-pull-request-is-waiting-for-required-status-checks-even-with-ci-skip-in-commit-message/827

I added a comment as well

[2022-01-12 06:35] derberg commented on #68
This one is already fixed

[2022-01-12 06:35] #68 closed

[2022-01-12 12:29] derberg commented on #104
Looks great! so where are we putting it? I guess these MD files should land in `.github/workflows`?

[2022-01-12 15:00] derberg commented on #54
`this bot is nearly ready` WHAT?! Super cool!!!

don't want to be a party pooper but I love your suggestions, and side effect is that sounds to me like you need to build Slack app maybe, so I can interact with it through `/`.

so like
- `/khuda save [title]` where by default it works with Q/A and bot tells you, that you are missing 🥇 answer
- `/khuda save [category_name]`

yes, I think the title m

[2022-01-13 06:22] KhudaDad414 commented on #104
@derberg For us, `.github/workflows` seems to be the best place to put it. by default I am not putting it there since workflow would need `workflows:write` permission. I will open a PR, adding it to this repo.

[2022-01-13 07:44] derberg commented on #104
ok, keep in mind that in our case we are not pushing directly to upstream but we go through PR flow

[2022-01-14 07:40] KhudaDad414 commented on #104
@derberg I know we talked about using the tool in `generate:assets` script and not in a separate workflow but by using a workflow we can manage it for all repos (node and non-node) from here. we just need to run the workflow whenever repo merges a `ci: ...` PR. what do you think?

[2022-01-14 08:08] derberg commented on #104
I'm only afraid of additional load we cause on CI, we are getting into dangerous lands.

So now we update global workflow changes in every repo with https://github.com/asyncapi/community/pull/229, and this would trigger another workflow that would update docs.

Both ☝🏼 workflows trigger tests and load on CI, and basically will make it stuck for an hour or 2. We somehow need to find a solution on h

[2022-01-14 17:54] smoya opened #123 "Update Node and npm to a more recent version"
## TL;DR;
- Node and Npm version should be updated to a more recent one, as we are mostly developing with newer node and npm versions, also because committed lockfiles are version 2.
Lockfile version 2 is available starting at npm v7, However I think we could update it even to a more recent version.
For example, Node v16, that includes npm v8).
- `npm install` command [here](https://github.com/asy

[2022-01-18 09:56] magicmatatjahu commented on #123
Thanks @smoya for creating that issue! :) We can have one problem, I'm not sure but I remember you @derberg had problems bumping up NodeJS to version 14 on generator. Am I right? Will it be that big problem bumping NodeJS up to version 16?

[2022-01-24 11:11] KhudaDad414 commented on #116
Why don't we trust the bot and skip testing in case the author is `asyncapi-bot` [here](https://github.com/asyncapi/.github/blob/master/.github/workflows/if-nodejs-pr-testing.yml#L12)? any side effects?

[2022-01-24 11:19] derberg commented on #116
@KhudaDad414 oh man 🤯 I honestly did not take it into account 🤦🏼
I was always declining it as `asyncapi-bot` cannot always be trusted, because sometimes `asyncapi-bot` sends PRs that are bump of package version, so tests must run to make sure that for example a bump of parser in generator will not break generator.

But we can also figure it out from the PR title I guess, just like we do it [here](

[2022-01-24 11:20] KhudaDad414 commented on #113
@akulpillai I am closing this since we are using the latest version of `actions/stale`. if we misunderstood you, please clarify and we can discuss it. thanks.

[2022-01-24 11:20] #113 closed

[2022-01-26 18:17] imabp opened #126 "Run Workflows on Label"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
Maintainers have to run the workflow everytime manually, whenever new changes are added in PR.
- How will this change help?
This will save maintainer's time.

#### Description
Please try answering few of those questions
- What changes have to be introduced?
     - Maintainer can add label named `workflo

[2022-01-27 09:23] #119 closed

[2022-01-27 15:01] derberg commented on #126
@imabp just to make sure, did you check if GH API enables you to approve workflow runs with API

[2022-01-27 16:16] imabp commented on #126
I have gone through this documentation.
We can listen to the addition of label, and trigger the workflow..
I will try to do a dry run locally.. Before sending a PR.
https://docs.github.com/en/actions/using-workflows/triggering-a-workflow

[2022-01-27 18:14] derberg commented on #126
I would treat it as last possible solution, as it will be hard to figure out per repo which workflows to trigger I think. API would be best, but if supported of course :)

[2022-01-27 18:19] derberg commented on #126
there is a long thread of ideas [here](https://github.community/t/how-to-auto-approve-workflow-runs-for-first-time-contributors/176436/15), maybe you find something

[2022-01-28 14:11] derberg commented on #79
https://github.com/asyncapi/.github/blob/master/.github/workflows/if-nodejs-version-bump.yml workflow creates `chore(release)` commit, so under some condition it should create chore release commit but with `[skip ci]` info, so in `bump` workflow we can detect it and stop bumping. But `version bump` runs after `release` event which we cannot much influence.

Maybe we just need to add some feature d

[2022-01-28 14:12] derberg commented on #41
/help

[2022-01-28 14:13] derberg commented on #41
/gfi ci-cd

[2022-01-28 14:14] derberg commented on #41
@KhudaDad414 look ☝🏼 it works 🚀

[2022-01-28 14:14] derberg commented on #70
/gfi ci-cd

[2022-01-31 05:44] imabp commented on #126
@derberg I got another article, as an workaround of what we are looking for [here](https://github.community/t/do-something-if-a-particular-label-is-set/17149)

[2022-01-31 05:56] imabp commented on #126
@derberg  on above context, I found the workaround for enabling this.
But I am stuck in finding the workflow runner files.
We need to add this it to our main runner jobs.

[code]

[2022-01-31 08:48] derberg commented on #126
we have our bot there with its token enabled for all repos, so this is not a problem. My only question is what we do with it. How technically we tell GH to actually run the workflows. Label is just a "condition"

[2022-01-31 12:32] KhudaDad414 commented on #54
Update:
the slack bot is ready, https://github.com/khudaDad414/bot-the-savior

things that are remaining:
1) Creating the `support` repo.
2) Figuring out where and how to host it.
3) Adding the bot to the async API slack channel.

[2022-02-01 12:56] KhudaDad414 opened #129 "Skip `Welcome first time contributers`, `Sentiment Analysis` and `Lint PR title` for bots"
#### Reason/Context
I have been trying to find areas where we can improve our CI/CD pipelines and this seems like the best place to start.

#### Description
These three workflows (or maybe others) only apply to humans and by skipping these workflows in case the author is one of our trusted bots, we can get more out of GitHub Actions.

[2022-02-01 13:10] derberg commented on #129
yup, makes a lot of sense 👍🏼

[2022-02-03 09:29] KhudaDad414 opened #130 "Skip PR testing early"
#### Reason/Context
We have two workflows for testing,  `PR testing - if Go project` and `PR testing - if Node project`. they are our most resource-consuming workflows. after merging  #129 we will ignore tests for some PRs but I think we can push it further by skipping the workflow entirely if it is not in the appropriate repo.

#### Description
We can maintain an ignore repo list for each workflo

[2022-02-03 17:17] derberg commented on #130
Back in the time when I was designing these workflows my initial idea was to "skip" these node-only or go-only with `topics`
So basically if you do not have `go` topic in the repo, go workflows are skipped, and the same with node. This would enable the highest flexibility. But at that time, I did not have access to `topic` info, but maybe it has changed

also I was always thinking that we could ex

[2022-02-03 22:10] derberg commented on #54
🚀

Readme 😆 demo or it didn't happen 😆

yeah, I'm not 100% sure about, once ready we need to ask community. Maybe we should have it in `community` repo?

Easy, we have DigitalOcean credits, k8s cluster there and we can push apps there

let's test it out, yeah!

[2022-02-04 09:13] KhudaDad414 commented on #130
I see we don't have access to `topics` in GitHub Actions context yet. extending `global-workflows` seems like a good approach.

[2022-02-04 22:25] derberg commented on #130
that sucks like a lot...

😅

[2022-02-06 14:39] imabp commented on #126
@derberg , I was going through all of this.
😔 Unfortunately, we cannot do this yet, as GitHub doesn't allow it.

Apologies, for taking so much time on figuring it out.
I will close this issue and narrow down the focus to more productive contributions 🙂

[2022-02-07 07:53] derberg commented on #126
no worries mate, it is good to from time to time check if something did not improve 👍🏼

[2022-02-07 07:53] #126 closed

[2022-02-07 15:23] derberg commented on #130
while working on my latest PR, while debugging and checking events payload, I noticed that `repository` object is always there, even if workflow was triggered by issue_comment or new discussion. Of course something to confirm with docs but looks like below should work:

[code]

[2022-02-07 17:57] derberg commented on #116
@KhudaDad414 it didn't work. In all 59 repos (if we had branch protection set properly everywhere) the update of worklows failed because the tests were not triggered, so branch protection was not satisfied. Tests were not triggered because the test workflow was properly skipped because of new condition. So your idea worked but partially because workflow is skipped, jobs are not triggered, so PRs h

[2022-02-07 18:28] KhudaDad414 commented on #116
@derberg I don't have enough permission to close the PRs.

[2022-02-07 19:36] derberg commented on #116
@KhudaDad414 no worries. I'll close them

[2022-02-07 19:41] KhudaDad414 commented on #116
Left a comment and it was already merged in the following repos:
[code]
It was approved but wasn't merged for some weird reason in `asyncapi-php-template` :|

[2022-02-08 07:18] KhudaDad414 commented on #130
I see. So all we have to do is add the topics to all the repos and add an `if` statement to the tests. the only thing that is remaining is deciding what to do with repos that are not `node` nor `go` like https://github.com/asyncapi/spec.

[2022-02-08 08:49] derberg commented on #116
@KhudaDad414 I followedup in all PRs and closed them.

[2022-02-08 08:58] #116 closed

[2022-02-08 08:59] derberg commented on #116
@KhudaDad414 I triggered merge of your followup, next we should merge https://github.com/asyncapi/.github/pull/131 as the change in the bump workflow that you did in pervious PR was not replicated, so in my PR for TSC slack I made an adjustment that will trigger replication again

[2022-02-08 09:38] derberg commented on #130
yeah, first better check somewhere if my idea works 😄

and yeah, regarding `spec` and others, they will just have their individual test workflows, not global as they are probably more "specific". We have situation in few repost where global test PR workflow runs + there are additional local custom PR testing workflows (like ts code generator for example)

[2022-02-08 11:47] derberg commented on #116
@jonaslagoni I recommend you apply the same conditions that @KhudaDad414 did in the last PR in your custom black-box testing in modelina, to skip tests running in PRs like adding someone to list of contributors

[2022-02-08 11:51] jonaslagoni commented on #116
Will do 👍

[2022-02-08 19:34] derberg commented on #92
we should definitely use https://github.com/gaurav-nelson/github-action-markdown-link-check and have 2 workflows:
- 1 to check only modified files on a PR level
- 1 to periodically, cron job, like once a week check all files in a repo, and push notifications in case of failure to our slack, maybe docs channel @alequetzalli ?

[2022-02-08 21:23] alequetzalli commented on #92
hey @derberg, that sounds like a great idea and then getting a push notification in the `#docs` Slack channel is incredibly useful!

[2022-02-09 07:47] derberg commented on #92
whoever picks up this issue, please remember that workflow must be created in `.github` repo but initially please test it on your own test repo and then provide links in PR so we can check how it worked.

you do not have to test Slack integration, just adapt [the following steps](hub/blob/master/.github/workflows/notify-tsc-members-mention.yml#L41-L52) that we already use for other slack-notificat

[2022-02-10 08:03] KhudaDad414 commented on #130
@derberg I checked and the idea works. but I am still a fan of the "smart distribution" of workflows using `global-workflows` action. like: only include `if-nodejs-pr-testing.yml` if the repo has a `nodejs` topic. it would really help control what goes where instead of sending workflows blindly to the repos.

[2022-02-10 08:11] derberg commented on #130
@KhudaDad414 yeap, I agree. Next week I'm off on holiday and then a week after I'm off to do some work on side projects, so will use this time also to put more love into `global-workflows`.

Lemme know beforehand what would be the best way to handle such configuration. I see 2 options:
- separate yaml file that you keep in repo and in the workflow you just provide path to the config file
- in work

[2022-02-10 08:29] KhudaDad414 commented on #130
@derberg I think having a config file seems like a great idea since it may grow large. It would be cool if we have the option to move the current configurations of the action in that file as well.

this is great but we should be able to turn this feature off in the configuration.

to ease the process I think we should be able to configure the opposite as well. like: ignore `if-nodejs-pr-testing.ym

[2022-02-10 08:33] KhudaDad414 commented on #130
another cool thing that we could do with this feature would be to have a topic like `no-global-testing` and that repo will recieve no testing workflow at all. and they can add their own workflows for testing :smile: 🤩

[2022-02-11 12:12] KhudaDad414 opened #134 "Auto approve will approve human PRs that are labeled by bots."
#### Describe the bug
`automerge.yml` workflow will approve PRs that are created by humans but labeled by another bot.

#### How to Reproduce
See https://github.com/asyncapi/parser-js/pull/472

#### Expected behavior
`automerge.yml` should not approve PRs that are created by humans.

#### Possible solution
in `automerge.yml` https://github.com/asyncapi/.github/blob/ae472b2beea3d8817f67d1fe66a9436d

[2022-02-11 15:18] #134 closed

[2022-02-13 11:05] jonaslagoni commented on #30
I have noticed something annoying with coverall, sometimes, it cannot complete its CI run for some random reason. Almost like it cant generate the coverage report, which usually happens when the commits have nothing to do with tests or code. I'll see if I can catch it again

[2022-02-14 07:28] KhudaDad414 opened #136 "Build a React app to visualize GitHub Actions across the organization"
### Update: 7 Nov 2022
@Samridhi-98 has been working on the design of the app and it looks cool. 👏
You can see the process of developing this app here:
https://github.com/Samridhi-98/github-actions-visualizer
We are trying to see what kind of info is more useful to have there and finalize the design process.

### Reason/Context
We are an automation-driven community and we use GitHub Actions to aut

[2022-02-14 08:30] ritik307 commented on #136
@KhudaDad414 Interesting issue... I would like to work on this issue 😊

[2022-02-14 08:31] Samridhi-98 commented on #136
@KhudaDad414 I would also like to work on it 😊

[2022-02-14 08:34] ritik307 commented on #136
@derberg  @KhudaDad414 if possible will you guys be able to split the issue so both of us can work on it. 😊

[2022-02-14 08:36] akshatnema commented on #136
@KhudaDad414 Looks like an awesome idea for GSoC. I will love to make a proposal on it. The idea is very much unique and sounds interesting to me as I haven't seen many implementations on any projects which give a good analysis of data and visualize their GitHub action stats.

[2022-02-20 12:05] derberg commented on #47
What we have atm:
- we build this https://www.asyncapi.com/community/tsc
- this is source https://github.com/asyncapi/community/blob/master/TSC_MEMBERS.json
- source is updated manually by CODEOWNERS that want to be TSC Members
- we have automated check, GH workflow that runs on a PR level to check if new TSC member can be added to the list

What we do not have atm:
1. TSC_MEMBERS.json should be u

[2022-02-20 12:48] derberg opened #137 "Create Repository Settings Keeper"
#### Reason/Context

We have 60 repositories in AsyncAPI organization and it is impossible to stay in sync with settings across all repositories.

We have https://github.com/asyncapi/.github/blob/master/repository-settings.md but it is completely ignored, thus also no longer updated.

#### Description

We need an application that enables us to manage the settings of the GitHub repository through a

[2022-02-21 06:54] KhudaDad414 commented on #54
@derberg

Yeah, It would make sense to have the discussions there. the only thing that worries me a little is that GitHub will send notifications and send emails to the community repo watchers with each discussion opened by the bot.

For testing, I have hosted it in Heroku and sent a request to our slack workspace admins.

we just need to specify where we want the bot to save the discussions and a

[2022-02-24 07:30] KhudaDad414 commented on #115
I think the first option, having a command like `/rebase` would be less heavy on CI and provide a way for non-code-owners to rebase. plus, adding a comment like `This branch is out-of-date with the base branch, you can use /rebase to update this branch.` from `/rtm` if it fails due to out-of-date branch maybe?

[2022-02-28 11:55] derberg commented on #112
ok, looks like auto assignment that should work, did not work because we had errors in CODEOWNERS files.
We need to start using additional bot https://github.com/asyncapi-bot-eve to accept work submitted by `asyncapi-bot`

[2022-03-01 07:46] #129 closed

[2022-03-03 04:24] Namyalg commented on #92
I would like to work on this issue

[2022-03-03 08:03] KhudaDad414 opened #140 "Mention the repository when bot posts notifications in bot-github-new-issues-prs channel"
#### Reason/Context
 it would be really cool to mention the repository in the title of the message. Instead of  `💪 New Pull Request 💪` we should have something like `💪 New Pull Request in asyncapi/community 💪`.  this would provide more context to the message itself and help maintainers identify issues that concern them easily.

#### Description
When a new Issue or PR is opened, github-actions bot

[2022-03-03 08:41] #112 closed

[2022-03-03 08:41] #140 closed

[2022-03-03 21:17] derberg commented on #92
Please go ahead. Lemme know if you need help. Are you part of OpenForce?

[2022-03-03 22:29] Namyalg commented on #92
Yep

[2022-03-04 07:00] aniketh-varma commented on #92
Hi, would like to work on this issue. I am a part of OpenForce 2022.

[2022-03-04 07:29] derberg commented on #92
@aniketh-varma Hey, thanks but since @Namyalg was here first, the issue belongs to her. Please have a look at other issues from the list.

[2022-03-05 04:04] Namyalg commented on #92
As mentioned [here](https://github.com/gaurav-nelson/github-action-markdown-link-check), is there anything specific that should go into the `mlc_config.json` file ?

[2022-03-08 08:02] Abhinav0909 commented on #137
Hey,This feature sounds interesting.I am new to open source and ci/cd.So could you guide me throughout the process of making it.I want to contribute to this feature.So can you assign it to me.

[2022-03-08 08:03] Abhinav0909 commented on #137
And forget to mention that I am participant of openforce 2022.

[2022-03-09 14:11] derberg commented on #54
it sounds bad but actually is good, as you or me won't control how is the app being used, what is actually archived/saved. Notifications will let you know about it. Thoughts?

approved. As if it comes to Heroku, let us make sure you do not pay for anything on your own.

I propose we test it now on `community` repo. Save example 3 threads and then you can ask the community where it should land, wha

[2022-03-11 14:38] mcturco opened #144 "Update README with new logo banner"
#### Reason/Context
This is to replace the old AsyncAPI logo in this repo's README with the banner attached below that represents the new branding.

**Here are a few guidelines for this change as well:**
1. Make sure you are using [Markdown syntax](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) onl

[2022-03-11 14:38] mcturco commented on #144
/gfi design

[2022-03-12 16:17] aniketh-varma commented on #144
Hi @mcturco, I would like to work on this issue. I am a part of OpenForce 2022.

[2022-03-14 14:09] mcturco commented on #144
Hi @aniketh-varma! 👋
Thank you! Go ahead with this one, I am unable to assign this to you in GH due to permissions but go ahead with the PR 👍

[2022-03-14 14:54] Abhinav0909 commented on #137
Ok yeah you can assign to me

[2022-03-14 14:55] Abhinav0909 commented on #137
But you can guide me throughout  the process

[2022-03-15 06:31] #144 closed

[2022-03-28 07:21] #92 closed

[2022-03-29 05:30] #115 closed

[2022-03-29 05:55] KhudaDad414 opened #150 "Validate workflow on PR level"
#### Reason/Context
Since we don't validate our workflow files at the PR level, there is no way for us to make sure that the workflow files are valid YAML files.

#### Description
We need a linter as a workflow to make sure our workflows are valid YAML files.
BONUS: if the workflow is able to validate against the [workflow schema](https://raw.githubusercontent.com/SchemaStore/schemastore/master/sr

[2022-03-29 05:55] KhudaDad414 commented on #150
/gfi ci-cd

[2022-04-04 08:10] derberg commented on #92
@Namyalg hey, we are having some issues with automation:

- https://github.com/asyncapi/.github/blob/master/.github/workflows/link-check-cron.yml#L31 is a wrong env key, it should be `SLACK_WEBHOOK_URL: ${{ secrets.SLACK_DOCS_CHANNEL }}`
- after looking at https://github.com/asyncapi/spec/runs/5802713025?check_suite_focus=true#step:4:23 sounds like config file is required?

[2022-04-04 08:14] Namyalg commented on #92
I will change the name of the `env` variable
The absence of the config file is indicated, but it does not lead to any unexpected behavior

[2022-04-04 08:23] Namyalg commented on #150
I am interested to work on this issue
My understanding of this issue is :
- Create a workflow to check if new workflow files are valid and error-free using a linter

[2022-04-04 10:35] derberg commented on #92
I think we will need config to ignore these links:
[code]

[2022-04-05 08:57] derberg commented on #150
exactly, additionally workflow should only run if changes are done to files under `.github/workflows` directory.

regarding validation against schema, have a look at https://github.com/asyncapi/community/blob/master/.github/workflows/validate-tsc-members.yml#L19 where I already did something similar using `Ajv`. You will just have to fetch schema from remote first, instead of storing it in the rep

[2022-04-05 10:24] Namyalg commented on #150
Thank you for the reference, I'll get started on the implementation

[2022-04-10 05:41] Namyalg commented on #150
I plan to use the action https://github.com/tj-actions/changed-files, which will detect the addition or modification of a file.
Once the list files are obtained, the files with .yml are run against the schema validator.

[2022-04-12 08:21] #39 closed

[2022-04-12 08:21] #40 closed

[2022-04-12 09:28] derberg commented on #150
sounds good 👍🏼

[2022-04-19 20:20] KhudaDad414 opened #158 "False negatives in local links"
#### Describe the bug
Recently introduced check for Links that run weekly gives false negatives in all of the local markdown links.
as you can see in the latest run (https://github.com/asyncapi/generator/runs/6050625807?check_suite_focus=true) all of the local links that point to some section of the same file or other local files, gives `404` error.

#### Expected behaviour
They should pass since

[2022-04-20 07:20] derberg commented on #158
It is a problem with underlying links validator, have a look at https://github.com/gaurav-nelson/github-action-markdown-link-check/issues/127 and fix is not close to be merged https://github.com/gaurav-nelson/github-action-markdown-link-check/pull/129. We might need to switch back to original action from a fork I created recently as they already fixed the issue https://github.com/gaurav-nelson/git

[2022-04-20 07:20] derberg commented on #158
best if you include fix here https://github.com/asyncapi/.github/pull/156 😄

[2022-04-20 09:43] #158 closed

[2022-04-20 12:27] smoya commented on #123
@derberg is there any issue/blocker we should know about that stop us from moving forward on updating Node and npm?

[2022-04-20 12:50] derberg commented on #123
in generator all should be fine "in theory" as issues for version 14 were fixed few months ago.

I'm more interested in how you see it? switching from 14 to 16 or rather test on both, IMHO it should be both

[2022-04-20 14:13] derberg commented on #60
is it not valid anymore?

[2022-04-20 16:02] smoya commented on #60
It is. I missed the notification.

[2022-04-22 04:02] Namyalg commented on #150
@KhudaDad414 , is this [workflow schema](https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/github-workflow.json) the correct one ?
It doesnt seem to follow the exact format of the yml files written for GHA

[2022-04-22 05:41] darp99 commented on #41
Hello sir , @derberg

How can i start work on this issue ?

[2022-04-22 07:30] derberg commented on #41
@darp99 hey! Most important questions what is your experience with GitHub Actions. I need to know so I can suggest how to start. This issue with also require you to use GitHub REST or GraphQL API. You do not need to know much about APIs though as they provide client library.

[2022-04-22 09:10] smoya commented on #49
I would say still the same situation cc @derberg

[2022-04-22 10:02] KhudaDad414 commented on #150
@Namyalg I am fairly sure that this is the schema.
Are there any issues when you validate workflows?
I tried a few of the workflows and they seem to validate fine.

[2022-04-22 10:21] Namyalg commented on #150
Yes, this is what I get when I validate the [linkcheck workflow](https://github.com/asyncapi/.github/blob/master/.github/workflows/link-check-cron.yml)
![image](https://user-images.githubusercontent.com/53875297/164689432-2e02aed8-368c-46c4-88de-874ad4cc745c.png)

[2022-04-22 12:13] KhudaDad414 commented on #150
@Namyalg I suggest validating the file with the approach that @derberg mentioned here: https://github.com/asyncapi/.github/issues/150#issuecomment-1088445829

I tested it with this code and it works like a charm:
😃
[code]

[2022-04-22 12:17] Namyalg commented on #150
Alright, will try this

[2022-04-24 03:38] darp99 commented on #41
Sorry i don't want to disappoint you. i haven't used Github Action but i am exploring it. I know the REST API very well
Please guide me. what i have to do. i will learn if something is missing and try to give my best

[2022-04-26 16:32] derberg commented on #41
no worries, you definitely did not disappoint me. I just wanted to understand how deep in details should I go.

My advice, for now, forget about GitHub Actions -> these are the easiest in this task. More important is to figure how to do this calculation with, either GitHub REST API or GraphQL API

From GitHub Action point of view what you need to know for your research is:
- such action, that meas

[2022-04-27 09:48] KhudaDad414 commented on #41
not much, I just wanted to add: the [Graphql repository query](https://docs.github.com/en/graphql/reference/objects#repository) can be used to parse all of the [reaction groups](https://docs.github.com/en/graphql/reference/objects#reactiongroup) of every PRs, issues and discussions with a single Graphql query 😀

[2022-04-28 09:21] derberg commented on #137
I remove it from GSoC for now, I think there are other more important issues to handle

[2022-05-02 13:16] darp99 commented on #136
I would like to work on this idea 😊

[2022-05-02 19:43] ashutosh-mishra4 commented on #136
I am interested to work on this issue 😄

[2022-05-03 03:41] darp99 commented on #47
@fmvilas @derberg  Hello sir, i am working for issue #178 "we should have a GH workflow that posts a welcome message to the PR that is merged that contained new TSC member" and for that i am exploring in depth about GH action and github REST and GraphQL API. Also it's related to TSC so i would like contribute on this as a part of "Mentorship Program".

[2022-05-10 16:03] ritik307 commented on #137
Hi, @derberg I would like to work on this. If possible can you kindly guide me on how I can start?

[2022-05-12 10:24] akshatnema opened #164 "Adding conditional statement to run scheduled workflows on main repository only"
#### Describe the bug
Currently, the scheduled workflows are running on the master branch of the main repository and on forked repository of contributors as well.
Also, I will be updating the help statement of `autoupdate` command in the bot regarding it doesn't update the PRs which are not ready to review or are in draft.

#### Expected behavior
This issue targets to restrict the run of the sched

[2022-05-12 10:33] akshatnema commented on #164
Hey @derberg, as suggested by you, add an if statement in the workflow file so that it only runs on the main repository only. But you know that the `.github` folder is being shared between every repository in the GitHub organization, so actions actually are run on those repositories instead of the `.github` one. And also, we can't add the name of every repository in the if statement as there are 5

[2022-05-15 08:46] aminoxix opened #167 "ci: need to replicate COC.md to all repos"
#### Describe the bug
A clear and concise description of what the bug is.

 Failed GitHub Actions in [Code of Conduct section](https://github.com/asyncapi/.github/blob/master/CONTRIBUTING.md#code-of-conduct) in [CONTRIBUTING.md](https://github.com/asyncapi/.github/blob/master/CONTRIBUTING.md)

#### How to Reproduce

- Click on `read the full text` in COC section of `CONTRIBUTING.md`
- Note: Take r

[2022-05-15 08:47] aminoxix commented on #167
@derberg: Kindly review this issue, would like to take it up! :slightly_smiling_face:

[2022-05-15 12:05] drishtipeshwani commented on #136
This idea sounds really interesting to me, and this would be helpful to get insights about resources used by different workflows so that we can make the best use of Github actions in a more structured way.
Also, I like the feature of visualizing individual workflows on the dashboard, along with the part of displaying various workflow stats together to compare them.

**Previous Experience**
I have

[2022-05-16 08:08] derberg commented on #167
also would be awesome if you could add to https://github.com/asyncapi/.github/blob/master/.github/workflows/global-replicator.yml file the following line: `repos_to_ignore: shape-up-process,glee-hello-world`, between line 30 and 31

[2022-05-19 10:43] aminoxix commented on #167
Changes done & also restructured action `.yml` file here: #168

[2022-05-22 12:01] Udit-takkar commented on #136
I am interested to work on this issue.
I already have some experience working with React, Next, Typescript in personal projects and ontributing other open source organisations.

[2022-05-24 08:14] #167 closed

[2022-05-30 15:06] derberg opened #169 "adding good first issue label do not work as expected"
I added a comment like https://github.com/asyncapi/website/issues/809#issuecomment-1141255873 and expected `good first issue` and `area/javascript` labels to be added,

Looking quickly at https://github.com/asyncapi/.github/blob/master/.github/workflows/add-good-first-issue-labels.yml#L25-L33 the issue is related to lack of `break` after each switch case. So just add `break` after line 30 and 32

[2022-05-31 05:21] #164 closed

[2022-06-09 11:08] ayushpaharia commented on #136
Hey @KhudaDad414.
If this issue is still available I'd like to work on it :+1:

[2022-06-10 19:09] Devansu-Yadav commented on #136
Hey @KhudaDad414 , is this issue still open to take up?

If so, I'm interested in working on this project, as I believe I have the relevant experience working with the mentioned Tech Stack, and I have been making significant Open Source contributions.

[2022-06-13 11:31] derberg commented on #130
@KhudaDad414 I think we can close it, and now we just need to open 50-like issues in all repos to cleanup the workflow files from these

[2022-07-18 16:02] derberg opened #172 "Modify release pipeline to install dependencies in a workflow directly and not through package.json"
#### Reason/Context

Comes from https://github.com/asyncapi/generator/issues/801

tl;dr

Installation of `semantic-release` and other release dependencies on a CI level is already practiced in our Go projects and works like a charm. Just have a look at:
  - https://github.com/asyncapi/parser-go/blob/master/.github/workflows/.releaserc - release config do not have to be in package.json and can be a

[2022-07-18 16:05] derberg commented on #172
@asyncapi/tsc_members

Pinging you for important visibility. Please have a look at above change. It is not mandatory, but you need to let me know you do not need it, as by default I will include all Node.js projects.

Even if you agree with the change, you still need to be aware that most probably (95% a chance) I will create a follow-up issue in your repo that explains what changes you have to ma

[2022-08-19 11:08] smoya commented on #60
Still valid.

[2022-08-19 11:15] smoya commented on #123
We use Lockfile version 2, and it is only available on npm v7 or greater. So yes, we drop support for node versions lower than 16.

[2022-08-22 08:24] smoya commented on #49
Let's give it another chance

[2022-08-22 16:14] derberg commented on #123
Lockfile v2 will still work with older npm:

[code]

Version of used Node should not depend on version of used npm. Many people in Nodejs ecosystem do not even use npm but yarn or pnpm

[2022-08-22 16:15] derberg commented on #123
Lockfile v2 will still work with older npm:

[code]

Version of used Node should not depend on version of used npm. Many people in Nodejs ecosystem do not even use npm but yarn or pnpm

[2022-08-23 08:31] magicmatatjahu commented on #123
@derberg

Yeah, it's true, but in our case with `server-api` we had problem when npm (with support for `v1`) installed wrong dependencies from package-lock 😄 I don't remember which package was installed wrong but there was such a problem. It would best to bump up the node with npm together so there are no problems.

[2022-08-23 09:11] smoya commented on #123
As @magicmatatjahu mentioned in the comment above, this is not 100% right. And that's the whole reason why this issue is opened. You can read the long version and will understand the problems we can introduce without knowing about them.

[2022-08-30 06:19] derberg commented on #172
ok, it was smooth -> https://github.com/asyncapi/generator/pull/815

after suggested changes to generator, release worked like a charm

[2022-08-30 08:36] derberg commented on #123
brace yourself, a stupid question is approaching 😄

I still think that the **node** version and **npm** version discussion should be split.

I understand that there are some strange issues when installing with `npm` v6 or v7 or v8. But all of this is related only to `npm` and has nothing to do with `node` version. As I wrote above, `npm` is one of many dependency management tools in JS ecosystem,

[2022-09-15 09:07] derberg opened #177 "PR level check that verifies if contributed `package-lock.json` is created with `v2`"
We need a new global workflow, with a dedicated configuration in https://github.com/asyncapi/.github/blob/master/.github/workflows/global-replicator.yml that only certain projects can opt into if they want

The goal is that it runs on a PR and it checks if the PR modifies `package-lock.json` and the file is created with `"lockfileVersion": 2`. Otherwise the check fails and we post a nice friendly

[2022-09-22 15:25] derberg opened #181 "create global workflow that informs PR author about merge conflicts"
#### Reason/Context

Sometimes PRs get merge conflicts. No notifications tell the PR creator about it. This causes some PRs to hang for some time. It affects release branches the most

#### Description

We need workflow, that once it detects merge conflict on a PR, it posts a comment in PR and mentions the author. The comment should inform the author that there is a merge conflict (this will trigg

[2022-09-29 08:40] derberg opened #184 "we should add some custom filter to release workflow"
#### Reason/Context

Release https://github.com/asyncapi/.github/blob/master/.github/workflows/if-nodejs-release.yml relies on `semantic-release` to answer if release is needed.

This means, on every single commit it runs tests, and then release just to realize at the very end that it was not needed.

Bit waste of resources!

#### Description

I think we need to make it skip early all jobs if we n

[2022-09-29 08:49] smoya commented on #184
+1 to run **only** if the current commit has any of those prefixes (`feat`, `fix`, `feat!`).

If that means we will need to add an extra commit with those prefixes in order to run the release, I'm fine to be honest.

[2022-10-03 17:11] derberg commented on #169
/gfi js

[2022-10-09 12:14] akshatnema commented on #136
@derberg can you please remove the stale tag from this issue? I think we still need this idea to be implemented as it was passed by the majority of votes in the TSC voting. If anyone is still interested to work on this, kindly comment out here. We will like to mentor you very well in this.

[2022-10-09 12:59] drishtipeshwani commented on #136
I would still be interested in working on this issue if it is open. Had shared my thoughts on this project and my experience previously - https://github.com/asyncapi/.github/issues/136#issuecomment-1126923857

[2022-10-09 20:05] akshatnema commented on #136
Thanks for showing interest in this idea. But to make sure you, this idea is I think not under the mentorship program now and it is a simple issue now, you can work on. I can definitely help you in any issues regarding React or Github actions. But rest also depends on @derberg and @KhudaDad414 for their opinions regarding the implementation.

[2022-10-11 06:56] AceTheCreator commented on #136
@KhudaDad414 has not been available for a while, and he just came back recently. He'll reach out to the selected mentee for this project :)

[2022-10-11 09:23] smoya commented on #181
FYI: I created one issue in every repository that still sticks to lock version `2`:

https://github.com/asyncapi/spec-json-schemas/issues/272
https://github.com/asyncapi/asyncapi-react/issues/652
https://github.com/asyncapi/parser-js/issues/652
https://github.com/asyncapi/extensions-catalog/issues/105
https://github.com/asyncapi/converter-js/issues/147
https://github.com/asyncapi/generator/issues/

[2022-10-11 09:25] smoya commented on #177
@derberg FYI I created an issue in every repository that still sticks to package-lock version 2.

https://github.com/asyncapi/spec-json-schemas/issues/272
https://github.com/asyncapi/asyncapi-react/issues/652
https://github.com/asyncapi/parser-js/issues/652
https://github.com/asyncapi/extensions-catalog/issues/105
https://github.com/asyncapi/converter-js/issues/147
https://github.com/asyncapi/gene

[2022-10-11 11:04] derberg commented on #70
Resolved with https://github.com/asyncapi/.github/pull/182

[2022-10-11 11:04] #70 closed

[2022-10-12 10:48] derberg commented on #79
sadly I do not remember why it is needed, and if really is 😞

[2022-10-12 10:48] #79 closed

[2022-10-12 10:51] derberg commented on #130
Update:

still valid
global workflow optimized to not push all workflows to all repos in dummy way, but now it does it under certain conditions
we just now need to open issues in all repos to do cleanup

so in case of nodejs projects, go related workflows should be removed
and in case of go projects, nodejs related workflows should be removed

[2022-10-18 16:36] smoya commented on #123
Each [NodeJS release](https://nodejs.org/en/download/releases/) is bundled with a particular NPM version. Agree you can change that, but using too older or too newer versions of NPM could cause issues as well.
The ideal is to use the same version bundled with your NodeJS version, available on this list https://nodejs.org/en/download/releases/.

That's why, **NodeJS 15** is the minimum version for

[2022-10-18 16:44] smoya commented on #123
There is an extra issue to consider here. Keeping `lockfileVersion` to `2` it's impossible unless we accept a change such as https://github.com/asyncapi/.github/pull/187. The reason is that all current GH actions are converting back from `lockfileVersion` 2 to 1 every time they run, and the [if-nodejs-release](https://github.com/asyncapi/.github/blob/master/.github/workflows/if-nodejs-release.yml#

[2022-10-19 10:39] smoya commented on #123
Another option would be to enforce **all** projects to stay with Node v14 + NPM 6 until we consider updating to a more recent version bundle makes sense (adoption as main driver here).

[2022-10-19 15:30] derberg commented on #123
The ideal is to use the same version bundled with your NodeJS version, available on this list https://nodejs.org/en/download/releases/.

I totally get it. But I do not think it is a common practice/knowledge that "if you decide to use `lockfileVersion: 2` it means you stop supporting Node with a version that bundles npm with v2"

you are right, but not the release workflow, but the bump workflow.

[2022-10-20 11:32] KhudaDad414 commented on #136
this idea has been assigned to @Samridhi-98. thank you all for commenting on the issue and showing interest. 🙇

[2022-10-23 19:16] imabp commented on #136
That sounds like, a custom [grafana](https://grafana.com) for asyncapi...
All the best Samriddhi, let me know, if you need any help...

[2022-10-23 19:18] imabp commented on #136
@AceTheCreator , kindly add @Samridhi-98 to the asyncapi mentorship sync meeting.

[2022-10-24 07:45] #169 closed

[2022-10-24 15:07] fmvilas opened #190 "Add support for minimum amount of approvals before merge"
Have a look at https://github.com/asyncapi/spec/pull/851#issuecomment-1283573288.

[2022-10-25 16:29] derberg opened #191 "Add automation to send email to TSC newsletter subscribers"
We need to refactor the automation that we have for sending emails to subscribers that want to learn about new meetings.

Automation should also support sending email to new kind of subscribers, that want to know about any time TSC needs to vote.

We need to integrate new Mailchimp flow to already existing automation that we have for TSC when we drop message to slack

core code info:
[code]

[2022-10-27 14:25] #191 closed

[2022-11-07 20:36] KhudaDad414 commented on #136
Since we have the [basic design](https://github.com/Samridhi-98/github-actions-visualizer), we can now think about the specifics. a few suggestions from my side.
1) We should be able to filter out workflows. we currently have around 22 workflows(some repos have their own workflows as well), and it would be a mess to see stats about every single one of them. (maybe a checkbox on each workflow to in

[2022-11-14 09:30] derberg opened #194 "Improve email sent to TSC members to include the title of the topic"
Now email sent to TSC is always the same, just the link to related topic is different. But link is hidden behind the same display title `Click here to see more details on GitHub`

We need to improve it. Have something like `Check on GitHub:` and then put a link with display name that is the same as the title of the issue/pr/discussion

Hints:
- this is where content of email is defined https://git

[2022-11-14 09:30] derberg commented on #194
/gfi js

[2022-11-14 19:17] derberg opened #195 "[Docs Bug 🐞 report]: update link to slack etiquette"
### Describe the bug you found in AsyncAPI Docs.

https://github.com/asyncapi/.github/blob/master/profile/README.md needs an update, current link to our Slack etiquette is broken and points to the old location. The new link is https://github.com/asyncapi/community/blob/master/slack-etiquette.md

### Attach any resources that can help us understand the issue.

At the same time we can also update li

[2022-11-14 19:17] derberg commented on #195
/gfi docs

[2022-11-23 17:34] #194 closed

[2022-11-24 13:07] derberg commented on #130
@KhudaDad414 closing this one as my lovely wife cleaned up all the repos from irrelevant workflows 💪🏼
55PRs 🚀  -> https://github.com/pulls?q=is%3Apr+author%3Acodingtenshi+sort%3Acreated-asc+

[2022-11-24 13:07] #130 closed

[2022-11-24 13:16] KhudaDad414 commented on #130
thanks a lot, @codingtenshi. 🙇  I hope you did it all by choice and @derberg is not keeping you hostage somewhere. if that's the case give us a sign. we can call the police or something. 😟

[2022-11-27 15:28] codingtenshi commented on #130
:) It was my choice, everything is all right. Thanks for your concern :)

[2022-11-28 06:51] jonaslagoni opened #199 "Link checker having an insane amount of false positives"
#### Describe the bug
The link checker workflow: https://github.com/asyncapi/.github/blob/master/.github/workflows/link-check-pr.yml have an insane amount of false positives (where it reports an error when there is none).

False positives it detects:
- Relative references within the same markdown file `[something](#Something)`.
- Because we use https://allcontributors.org/ it can happen users have

[2022-11-28 19:12] derberg commented on #199
tbh, maybe because we left it to fail for too long, but I basically thought for some time already about removing this workflow 🤷🏼

it is causing lot of noise and confusion as well, I guess. @KhudaDad414 wdyt? or maybe we push from here also a global config where by default we ignore checking anchors and accept 429 from GitHub as valid?

[2022-11-28 19:30] KhudaDad414 commented on #199
@derberg even if we accept 429 and ignore checking anchors, maintaining repos so they don't have invalid links is a cumbersome task (especially for repos that contain too many links like `website`).  I think it's best to have it for `workflow_dispatch` only. it's a handy tool to check for invalid links sometimes.

[2022-11-29 09:56] derberg commented on #199
`workflow_dispatch` is interesting suggestion. I'm only afraid nobody will remember it is there 🤔

@jonaslagoni what do you think as a maintainer?

[2022-11-29 09:58] jonaslagoni commented on #199
As long as the workflow itself is still producing false positives like this, i would never incorporate it into my own development workflow 😅